body {
  background-color: #fff;
  font: 400 1em/1.38 Ubuntu;
  color: rgb(0, 0, 0);
}

.brand {
  display: block;
  position: relative;
  float: left;
  width: 15.1666666666%;
  height: 60px;
  margin-left: 200px;
}

.feed_divider {
  position: relative;
  float: left;
  clear: both;
  width: 100%;
  height: 50px;
  background-color: rgb(84, 62, 39);
  box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
  opacity: 0.9;
}

.dropdown {
  display: block;
  position: relative;
  float: left;
  z-index: 18;
  width: 35px;
  height: 35px;
  margin: 13px 0 0 76.01042%;
  background: url('../images/ic_arrow_drop_down_white_36px.svg') rgba(222, 222, 222, 0);
  background-size: cover;
  background-position: center center;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  width: 823px;
  min-height: 100px;
  margin: 0 auto;
  text-shadow: 1px 2px 5px rgba(0, 0, 0, .5);
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

.header_container {
  position: absolute;
  top: 209px;
  left: 0;
  right: 0;
  z-index: 4;
  width: 100%;
  height: 178px;
  margin: 0 auto;
}

.img1 {
  float: left;
  width: 200px;
  height: 200px;
  margin-top: 20px;
  background: url('../images/1.PNG') rgba(222, 222, 222, 0);
  background-repeat: no-repeat;
  background-size: 170px 170px;
  background-position: center center;
}

.img2 {
  float: left;
  width: 200px;
  height: 200px;
  margin-top: 20px;
  background: url('../images/2.PNG') rgba(222, 222, 222, 0);
  background-repeat: no-repeat;
  background-size: 170px 170px;
  background-position: center center;
}

.img3 {
  float: left;
  width: 200px;
  height: 200px;
  margin-top: 20px;
  background: url('../images/3.PNG') rgba(222, 222, 222, 0);
  background-repeat: no-repeat;
  background-size: 170px 170px;
  background-position: center center;
}

.img4 {
  float: left;
  width: 200px;
  height: 200px;
  margin-top: 20px;
  background: url('../images/4.PNG') rgba(222, 222, 222, 0);
  background-repeat: no-repeat;
  background-size: 170px 170px;
  background-position: center center;
}

.img5 {
  float: left;
  width: 200px;
  height: 200px;
  margin-top: 20px;
  background: url('../images/5.PNG') rgba(222, 222, 222, 0);
  background-repeat: no-repeat;
  background-size: 170px 170px;
  background-position: center center;
}

.img6 {
  float: left;
  width: 200px;
  height: 200px;
  margin-top: 20px;
  background: url('../images/7.PNG') rgba(222, 222, 222, 0);
  background-repeat: no-repeat;
  background-size: 170px 170px;
  background-position: center center;
  overflow: visible;
}

.img1:hover,
.img2:hover,
.img3:hover,
.img4:hover,
.img5:hover,
.img6:hover {
  background-size: cover;
}

.img_tray {
  position: relative;
  float: left;
  z-index: 15;
  width: 100%;
  height: 239px;
  max-height: 239px;
  overflow: hidden;
}

.layer {
  position: relative;
  float: left;
  z-index: 1;
  width: 100%;
  height: 450px;
  background-color: rgb(91, 91, 91);
  opacity: 0.3;
}

nav .input-field label {
  left: 89%;
}
.input-field input[type=search]+label {
  left: 89%;
}

nav .input-field label i {
  color: #ffffff;
}

nav .brand-logo {
    position: absolute;
    color: #fff;
    display: inline-block;
    font-size: 1.75em;
    font-weight: 500;
    padding: 0;
    white-space: nowrap;
    padding-left: 100px;
}

nav ul {
    margin: 0 100px 0 0;
}

.circle_nav { 
  border-radius: 50%;
  width: 35px;
  height: 35px;
  margin-top: 13px;
  margin-right: 12px;
  float: left;
}
nav .nav-wrapper i {
  font-size: 28px;
}
.dropdown-content {
  margin: 61px 0 0 0;
}

.dropdown-content li {
  line-height: 20px;
}

.dropdown-content li>a, .dropdown-content li>span {
  font-size: 16px;
  color: #333333;
  display: block;
  padding: 0.75rem 1rem;
}

.logo {
  display: block;
  position: relative;
  float: left;
  z-index: 25;
  width: 100%;
  min-height: 60px;
  margin-top: 3px;
  padding-top: 7px;
  font-size: 1.75em;
  font-weight: 500;
  line-height: 1.38;
  color: rgb(255, 255, 255);
}

.logo_img {
  display: block;
  position: absolute;
  top: 10px;
  left: 101px;
  z-index: 26;
  width: 40px;
  height: 40px;
  background: url('../images/ic_local_dining_white_36px.svg') rgba(222, 222, 222, 0);
  background-size: cover;
  background-position: center center;
}

.main_picture {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 450px;
  margin: 0 auto;
  background: url('../images/f-three-eight-four-385-coldharbour-lane-brixton-cocktail-bar-restaurant-hipster-industrial-small-plates-ping-pong-food.jpg') rgb(0, 0, 0);
  background-size: auto auto;
  background-position: center center;
  box-shadow: 2px 0 5px rgba(0, 0, 0, .5) inset;
}

.make_request_small {
  display: block;
  float: left;
  width: 30px;
  height: 30px;
  margin-left: 11.71453%;
  background: url('../images/ic_add_white_36px.svg') rgba(222, 222, 222, 0);
  background-size: cover;
  background-position: center center;
}

.menu {
  float: right;
  width: 185px;
  height: 35px;
  margin: 15px 209px 0 0;
}

.my_request {
  display: block;
  float: left;
  width: 30px;
  height: 30px;
  margin-left: 11.39358%;
  background: url('../images/ic_event_note_white_36px.svg') rgba(222, 222, 222, 0);
  background-size: cover;
  background-position: center center;
}

nav {
    color: #fff;
    background-color: rgb(213, 88, 40);
    width: 100%;
    height: 60px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
  }

.nav_bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 28;
  width: 100%;
  height: 60px;
  background-color: rgb(213, 88, 40);
  box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
}

.nearby {
  position: relative;
  float: left;
  clear: both;
  z-index: 6;
  width: 7.5%;
  min-height: 31px;
  margin: -37px 0 0 1.5%;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.38;
  color: rgb(255, 255, 255);
}

.notification {
  display: block;
  float: left;
  width: 30px;
  height: 30px;
  margin-left: 11.60473%;
  background: url('../images/ic_notifications_none_white_36px.svg') rgba(222, 222, 222, 0);
  background-size: cover;
  background-position: center center;
}

.profile_block {
  display: block;
  position: absolute;
  top: 0;
  right: 36px;
  z-index: 19;
  width: 150px;
  height: 60px;
}

.profile_img {
  display: block;
  position: absolute;
  top: 12px;
  right: 76.0273972602%;
  z-index: 16;
  width: 35px;
  min-width: 35px;
  height: 35px;
  min-height: 35px;
  border-radius: 50px;
  background: url('../images/ic_person_white_36px.svg') rgba(222, 222, 222, 0.5);
  background-size: cover;
  background-position: center center;
}

.request {
  display: block;
  position: absolute;
  top: 111px;
  left: 0;
  right: 0;
  z-index: 2;
  width: 28%;
  height: 67px;
  margin: 0 auto;
  border: 4px solid rgb(255, 255, 255);
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.27);
  font-size: 1.75em;
  font-weight: 500;
  line-height: 1.38;
  text-align: center;
  color: rgb(255, 255, 255);
}

.request:hover {
  background-color: rgba(96, 95, 39, 0.79);
}

.search {
  display: block;
  float: left;
  width: 30px;
  height: 30px;
  background: url('../images/ic_search_white_36px.svg') rgba(222, 222, 222, 0);
  background-size: cover;
  background-position: center center;
}

.upcoming {
  position: relative;
  float: left;
  clear: both;
  z-index: 8;
  width: 7.4166666666%;
  min-height: 31px;
  margin: -37px 0 0 1.5%;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.38;
  color: rgb(255, 255, 255);
}

.username {
  display: block;
  position: absolute;
  top: 1px;
  right: 23.9726027397%;
  z-index: 17;
  width: 52.0547945205%;
  min-height: 60px;
  padding-top: 17px;
  font-size: 1em;
  line-height: 1.38;
  text-align: right;
  color: rgb(255, 255, 255);
}

.divider-1 {
  z-index: 5;
}

.divider-2 {
  z-index: 7;
  margin-left: -0.5%;
}

.header span {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: Roboto;
  font-style: inherit;
  font-size: 3em;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: rgb(255, 255, 255);
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.header strong {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: Roboto;
  font-style: inherit;
  font-size: 3.375em;
  font-weight: 300;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: rgb(255, 255, 255);
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.nearby span,
.upcoming span {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}