body {
  background-color: #fff;
  font: 100 1em/1.38 Ubuntu;
  color: rgb(0, 0, 0);
}

h1 {
  font-weight: 600;
  line-height: 1.0;
    font-family: Ubuntu;
    font-style: inherit;
    font-size: 6.5em;
    font-weight: inherit;
    text-transform: inherit;
    text-decoration: inherit;
    letter-spacing: inherit;
    word-spacing: inherit;
    color: rgb(255, 255, 255);
    opacity: 1;
    margin-bottom: 0px;
}
.brand-logo, .brand-logo:hover {
    position: absolute;
    color: #fff;
    display: inline-block;
    font-size: 1.75em;
    font-weight: 500;
    padding: 0;
    white-space: nowrap;
    padding-left: 100px;
}
.heading{
	margin-top:100px;
}

.btn:hover, .btn {
	background: rgba(0, 0, 0, 0.2);
	border: solid 2px white;
}

.profile-btn{
    background-color: rgba(96, 95, 39, 0.79);
    border: solid 2px #9e9e9e;
}
.profile-btn:hover{
    background-color: rgba(96, 95, 39, 1);
    border: solid 2px #9e9e9e;
    color: white;
}

.heading-container{
	width:75%;
    font-weight: 400;
}

.login-header{
	display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../img/bg.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

hr.small {
    max-width: 100px;
}

.text-muted {
    color: #777;
    margin: 0 0 10px;
}

a {
    color: #D55828;
    text-decoration: none;
}

a:hover {
    color: #CC3800;
    text-decoration: none;
}

.text-primary {
    color: #D55828;
}

.solution{
margin-top:120px;
}

.card .card-title {
    color: #333;
    font-weight: 500;
    font-size: 24px;
}

.login-card{
    background-color: rgba(255, 255, 255, 0.90)
}
.getstarted-btn{
width:70px;
height:70px;
border:2px white solid;
border-radius: 50%;
font: 32px;
}

.getstarted-dwn{
    text-align: center;
    color: white;
    /* padding-top: 50px; */
    float: left;
    font-size: 32px;
    margin-left: 17px;
    margin-top: 9px;
}