body {
  background-color: #fff;
  font: 400 1em/1.38 Ubuntu;
  color: rgb(0, 0, 0);
}

.brand {
  display: block;
  position: relative;
  float: left;
  width: 15.1666666666%;
  height: 60px;
  margin-left: 200px;
}

.dropdown {
  display: block;
  position: relative;
  float: left;
  z-index: 18;
  width: 35px;
  height: 35px;
  margin: 13px 0 0 76.01042%;
  background: url('../images/ic_arrow_drop_down_white_36px.svg') rgba(222, 222, 222, 0);
  background-size: cover;
  background-position: center center;
}
nav .input-field label {
  left: 89%;
}
.input-field input[type=search]+label {
  left: 89%;
}

nav .input-field label i {
  color: #ffffff;
}

nav .brand-logo {
    position: absolute;
    color: #fff;
    display: inline-block;
    font-size: 1.75em;
    font-weight: 500;
    padding: 0;
    white-space: nowrap;
    padding-left: 100px;
}

nav ul {
    margin: 0 100px 0 0;
}

.circle_nav { 
  border-radius: 50%;
  width: 35px;
  height: 35px;
  margin-top: 13px;
  margin-right: 12px;
  float: left;
}
nav .nav-wrapper i {
  font-size: 28px;
}
.dropdown-content {
  margin: 61px 0 0 0;
}

.dropdown-content li {
  line-height: 20px;
}

.dropdown-content li>a, .dropdown-content li>span {
  font-size: 16px;
  color: #333333;
  display: block;
  padding: 0.75rem 1rem;
}

.logo {
  display: block;
  position: relative;
  float: left;
  z-index: 25;
  width: 100%;
  min-height: 60px;
  margin-top: 3px;
  padding-top: 7px;
  font-size: 1.75em;
  font-weight: 500;
  line-height: 1.38;
  color: rgb(255, 255, 255);
}

.logo_img {
  display: block;
  position: absolute;
  top: 10px;
  left: 101px;
  z-index: 26;
  width: 40px;
  height: 40px;
  background: url('../images/ic_local_dining_white_36px.svg') rgba(222, 222, 222, 0);
  background-size: cover;
  background-position: center center;
}

.make_request_small {
  display: block;
  float: left;
  width: 30px;
  height: 30px;
  margin-left: 11.71453%;
  background: url('../images/ic_add_white_36px.svg') rgba(222, 222, 222, 0);
  background-size: cover;
  background-position: center center;
}

.menu {
  float: right;
  width: 185px;
  height: 35px;
  margin: 15px 209px 0 0;
}

.my_request {
  display: block;
  float: left;
  width: 30px;
  height: 30px;
  margin-left: 11.39358%;
  background: url('../images/ic_event_note_white_36px.svg') rgba(222, 222, 222, 0);
  background-size: cover;
  background-position: center center;
}

nav {
    color: #fff;
    background-color: rgb(213, 88, 40);
    width: 100%;
    height: 60px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
  }
.navbar-fixed {
    height: 60px;
}
.nav_bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 28;
  width: 100%;
  height: 60px;
  background-color: rgb(213, 88, 40);
  box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
}
.notification {
  display: block;
  float: left;
  width: 30px;
  height: 30px;
  margin-left: 11.60473%;
  background: url('../images/ic_notifications_none_white_36px.svg') rgba(222, 222, 222, 0);
  background-size: cover;
  background-position: center center;
}

.profile_block {
  display: block;
  position: absolute;
  top: 0;
  right: 36px;
  z-index: 19;
  width: 150px;
  height: 60px;
}

.profile_img {
  display: block;
  position: absolute;
  top: 12px;
  right: 76.0273972602%;
  z-index: 16;
  width: 35px;
  min-width: 35px;
  height: 35px;
  min-height: 35px;
  border-radius: 50px;
  background: url('../images/ic_person_white_36px.svg') rgba(222, 222, 222, 0.5);
  background-size: cover;
  background-position: center center;
}

.search {
  display: block;
  float: left;
  width: 30px;
  height: 30px;
  background: url('../images/ic_search_white_36px.svg') rgba(222, 222, 222, 0);
  background-size: cover;
  background-position: center center;
}
.username {
  display: block;
  position: absolute;
  top: 1px;
  right: 23.9726027397%;
  z-index: 17;
  width: 52.0547945205%;
  min-height: 60px;
  padding-top: 17px;
  font-size: 1em;
  line-height: 1.38;
  text-align: right;
  color: rgb(255, 255, 255);
}
.header span {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: Roboto;
  font-style: inherit;
  font-size: 3em;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: rgb(255, 255, 255);
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.header strong {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: Roboto;
  font-style: inherit;
  font-size: 3.375em;
  font-weight: 300;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: rgb(255, 255, 255);
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}