<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <link href="http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,400|Roboto:300,400" rel="stylesheet" type="text/css">
 <!--Import materialize.css-->
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
 <link rel="stylesheet" type="text/css" href="../css/timeline.css">
 <!--Import jQuery before materialize.js-->
 <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
 <script src="https://refreshless.com/nouislider/documentation/assets/wNumb.js"></script>
 <link href="http://materializecss.com/extras/noUiSlider/nouislider.css" rel="stylesheet">
 <!-- Slider JS -->
 <script src="http://materializecss.com/extras/noUiSlider/nouislider.js"></script>
 <script src="https://static.wepay.com/min/js/wepay.v2.js" type="text/javascript"></script>
  <!-- Import Custom CSS -->
  <!--<link rel="stylesheet" media="screen" href="../css/standardize.css" type="text/css" />-->
  <link rel="stylesheet" media="screen" href="../css/feed.css" type="text/css" />
  <link rel="stylesheet" media="screen" href="../css/nav.css" type="text/css" />
  <link rel="stylesheet" media="screen" href="../css/request.css" type="text/css" />
  <link rel="stylesheet" media="screen" href="../css/search-results.css" type="text/css" />
  <link rel="stylesheet" media="screen" href="../css/profile.css" type="text/css" />
  <link rel="stylesheet" href="../owl-carousel/owl.carousel.css">
<link rel="stylesheet" href="../owl-carousel/owl.theme.css">
<script src="../owl-carousel/owl.carousel.js"></script>
<script type="text/javascript" src="../js/feed.js"></script>
 <!--Let browser know website is optimized for mobile-->
 <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
 <script>
   $(document).ready(function(){
    //$.getScript("../js/create_request.js");
    $(".button-collapse").sideNav();
    $('.modal-trigger').leanModal();
    $(".dropdown-button").dropdown();

    $('.datepicker').pickadate({
      selectMonths: true, // Creates a dropdown to control month
      selectYears: 15, // Creates a dropdown of 15 years to control year
      format: 'yyyy-mm-dd', // Format into datetime
      onClose: function() {
        checkTime($('#time').val(),$('#date').val(),false);
        checkTime($('#edit_time').val().substring(0,5), $('#edit_date').val());
      }
    });
    $('select').material_select();
    $(".button-collapse").sideNav();
   });
</script>
<style>
  #search {
    width:300px;
  }
</style>
</head>

<body class="body page-index clearfix">
  <div id="content">
    <div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="/feed" class="brand-logo" >Hangry<i class="material-icons" style="float: right; margin-left: 10px;">local_dining</i></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
       <li>
        <form action="/query" method="GET">
        <div class="input-field">
          <input id="search" name="search" type="search" required>
          <label for="search"><i class="material-icons">search</i></label>
        </div>
       </form>
       </li>
        <li><a href="/requests?q=mine" title="My Request"><i class="material-icons">event_note</i></a></li>
        <li><a href="/request" title="Request a Service"><i class="material-icons">add</i></a></li>
        <li>
        {% if user.pending_requests > 0 or user.approved_requests > 0 or user.available_requests > 0 %}
          <a class="notification dropdown-button" title="Notification" href="#" data-activates="notification-dropdown"></a>
        {% else %}
          <a class="dropdown-button" title="Notification" href="#" data-activates="notification-dropdown" ><i class="material-icons">notifications_none</i></a>
        {% endif %}
        </li>
        <ul id="notification-dropdown" class="dropdown-content dropdown2-content">
         {% if user.pending_requests > 0 %}
          <li><a href="/foodie/{{user.username}}?q=table/pending">You have {{user.pending_requests}} new pending request(s)</a></li>
         {% endif %}
         {% if user.approved_requests > 0 %}
          <li><a href="/foodie/{{user.username}}?q=table/accepted">You have {{user.approved_requests}} new accepted request(s)</a></li>
         {% endif %}
         {% if user.available_requests > 0 %}
          <li><a href="/requests"> {{user.available_requests}} new request(s)</a></li>
         {% endif %}
         {% if user.pending_requests == 0 and user.approved_requests == 0 and user.available_requests == 0 %}   
          <li ><a>No new notifications</a></li>
         {% endif %}
        </ul>
        <li>
        <a class="dropdown-button" href="#!" data-activates="profile-dropdown">
           <img src ="/img?user_id={{user.key.urlsafe}}" class="circle_nav">
        {{user.first_name}}&nbsp;{{user.last_name}}
        <i class="material-icons right">arrow_drop_down</i></a></li>
        <ul id="profile-dropdown" class="dropdown-content">
          <li><a href="/foodie/{{user.username}}?q=timeline/all">My Profile</a></li>
          <li class="divider"></li>
          <li><a href="/logout">Log Out</a></li>
        </ul>

      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="/feed"><i class="material-icons left">home</i>Home</a></li>
        <li>
          <a href="/requests?q=mine"><i class="material-icons left">event_note</i>
          My Requests
          {% if user.pending_requests > 0 %}
          <span class="new badge">{{user.pending_requests}}</span>
          {% endif %}
          </a>
        </li>
        <li><a href="/request"><i class="material-icons left">add</i>Request a Service</a></li>
        <li><a href="/foodie/{{user.username}}"> <img src ="/img?user_id={{user.key.urlsafe}}" class="circle_nav">My Profile</a></li>
        <li><a href="/logout" name="logout" style="size:10px;"></a></li>
      </ul>
    </div>
  </nav>
</div>

  <div class="row">{% block content %} {% endblock %}</div></div>
</body>
</html>
