{% extends "base.html" %}
{% block content %}
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.2/masonry.pkgd.min.js"></script> -->
<link rel="stylesheet" media="screen" href="../css/request_suggestion_grid.css" type="text/css" />
<script type="text/javascript" src= "../js/create_request.js"></script> 
<script type="text/javascript" src= "../js/flickr_me.js"></script> 
<script type="text/javascript" src= "../js/request_suggestion_grid.js"></script> 


<div class= "background">
<div class = "container">
  <div class="row">
    <div class="col s12 m6 l6">
      <div id="create-request-form" class="form-container">
          <h5>Request a Service</h5></br>
          <div class="row">
            <div class="input-field col s6">
              <input placeholder="Coffee" id="food_type" name="food_type" type="text" class="validate">
              <label for="type">Food Type</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
              <input placeholder="San Jose, CA" id="location" name="location" type="text" class="validate">
              <label for="location">Location</label>
            </div>
            <div class="input-field col s6">
              <button id="location_button" onclick="getLocation()" class="btn-flat"> <i class="material-icons">my_location</i>&nbsp;&nbsp;Use Current Location</button>
              <p id="found_location"></p>
            </div>
          </div>
            <script>
              $.getScript("../js/create_request.js");
              var x = document.getElementById("found_location");
              var latitude;
              var longitude;
              function getLocation() {
                if (navigator.geolocation) {
                  navigator.geolocation.getCurrentPosition(setPosition);
                } else { 
                  x.innerHTML = "Geolocation is not supported by this browser.";
                }
              }

              function setPosition(position) {
                latitude = position.coords.latitude;
                longitude = position.coords.longitude; 
                $.ajax({
                  url: "/getlocation",
                  data: {'longitude' : longitude, 'latitude': latitude},
                  success: function(result){
                  $("#location").val(result).change();
                    checkLocation( $("#location").val() );
                  }
                });
              }
            </script>

            <div class="row">
              <div class="input-field col s6">
                <label>Date</label><br />

                <input type="date" class="datepicker" id="date" name="date">
              </div>
              <div class="input-field col s6">
                <label>Time</label><br />
                <input type="time" class="timepicker" id="time" name="time">
                <small id="slot_available" style="display:none;">Choose a date before choosing a time</small>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12">
                <label>Preferred Price</label> <br /><br />
                <div>
                  <input id="price-input" type="number" name="price">
                </div>
              </div>
            </div>

            <!-- <div class="row">
              <div class="input-field col s12">
                <label>Price Range</label> <br /><br />
                <div id="range-input">
                  <input type="number" id="min_price" name="min_price" style="display:none;" >
                  <input type="number" id="max_price" name="max_price" style="display:none;">
                </div>
              </div>
            </div> -->
            <div class="row">
              <div class="input-field col s5">
                <label>Interest</label><br>    
                  <p>
                    <input name="interest" type="radio" id="interest_food_lesson" value= "food lesson" checked>
                    <label for="interest_food_lesson">Food Lesson</label>
                  </p>
                  <p>
                    <input name="interest" type="radio" id="interest_fun" value = "fun">
                    <label for="interest_fun">Fun</label>
                  </p>        
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <p>
                  <input type="checkbox" id="agreement">
                  <label for="agreement">By selecting this checkbox and the send button, I agree to these <a class= 'modal-trigger' href="#terms">Terms and Conditions</a></label></br></br></br>
                </p>       
              </div>
            </div>   

          <a href="/requests" class="btn-flat">Cancel</a>
          <a id="send_request" type="submit" class="btn-flat disabled">Send Request</a>
        </div>
      </div>    


    <div class="request-suggestion-grid col s0 m0 l6">
        <div class="request-suggestion-wrapper">
          <div class="request-suggestion-text"></div>
          <div class="request-suggestion-item"></div>
        </div>
        <div class="request-suggestion-wrapper">
          <div class="request-suggestion-text"></div>
          <div class="request-suggestion-item"></div>
        </div>
        <div class="request-suggestion-wrapper">
          <div class="request-suggestion-text"></div>
          <div class="request-suggestion-item"></div>
        </div>
        <div class="request-suggestion-wrapper">
          <div class="request-suggestion-text"></div>
          <div class="request-suggestion-item"></div>
        </div>
        <div class="request-suggestion-wrapper">
          <div class="request-suggestion-text"></div>
          <div class="request-suggestion-item"></div>
        </div>
        <div class="request-suggestion-wrapper">
          <div class="request-suggestion-text"></div>
          <div class="request-suggestion-item"></div>
        </div>
        <div class="request-suggestion-wrapper">
          <div class="request-suggestion-text"></div>
          <div class="request-suggestion-item"></div>
        </div>
        <div class="request-suggestion-wrapper">
          <div class="request-suggestion-text"></div>
          <div class="request-suggestion-item"></div>
        </div>
        <div class="request-suggestion-wrapper">
          <div class="request-suggestion-text"></div>
          <div class="request-suggestion-item"></div>
        </div>
        <div class="request-suggestion-wrapper">
          <div class="request-suggestion-text"></div>
          <div class="request-suggestion-item"></div>
        </div>
        <div class="request-suggestion-wrapper">
          <div class="request-suggestion-text"></div>
          <div class="request-suggestion-item"></div>
        </div>
        <div class="request-suggestion-wrapper">
          <div class="request-suggestion-text"></div>
          <div class="request-suggestion-item"></div>
        </div>
      </div>
      <script>
        RequestSuggestionGrid.init({
          wrapperSelector: "request-suggestion-wrapper",
          itemSelector: "request-suggestion-item",
          textSelector: "request-suggestion-text",
          foodTypeInputId: "food_type"
        });
      </script>
  </div>
</div>
</div>
  <!-- Modal for terms and conditions -->
  <div id="terms" class="modal modal-fixed-footer" style= "width: 30%;">
    <div class="modal-content">
      <h4>Terms and Conditions</h4>
      {% include 'legal.html' %}
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Close</a>
    </div>
  </div>

{% endblock %}




<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }
      .controls {
        margin-top: 10px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }

      #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 300px;
      }

      #pac-input:focus {
        border-color: #4d90fe;
      }

      .pac-container {
        font-family: Roboto;
      }

      #type-selector {
        color: #fff;
        background-color: #4d90fe;
        padding: 5px 11px 0px 11px;
      }

      #type-selector label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }

    </style>