{% extends "base.html" %}
{% block content %}

<div class="main_picture"></div>
  <div class="layer"></div>
  <div class="header_container">
    <h1 class="header"><span>Good Food, Good Friends, Good Times</span></h1>
    <button onClick="window.location='/request';" class="request">Make A Request</button>
  </div>
  <div class="feed_divider divider-1"><p class="category">Near By</p></div>
  
  <div class="img_tray clearfix">
    <div class="img1"></div>
    <div class="img2"></div>
    <div class="img3"></div>
    <div class="img4"></div>
    <div class="img5"></div>
    <div class="img6"></div>
  </div>
  <div class="feed_divider divider-2">  <p class="category">Upcoming</p></div>


{% endblock %}
