{% extends "base.html" %}
{% block content %}

<div class="main_picture"></div>
 {% if user.credit_id == None %}
   <!-- Modal Structure -->

  {% include 'ccmodal.html' %}
  {% else %}
  <div class="layer"></div>
  <div class="header_container">
    <h1 class="header"><span>Good Food, Good Friends, Good Times</span></h1>
    <button onClick="window.location='/request';" class="request">Make A Request</button>
  </div>

  <div class="feed_divider divider-1"><p class="category">All</p></div>

  <div class="row">
        <div id="slider" class="owl-carousel">
          {% for item in all_requests %}
          <div class="one">
            <a>{{item.food_type}}</a>
          </div>
          {% endfor %}
        </div>
  </div>
{% if pending %}
  <div class="feed_divider">  <p class="category">Pending</p></div>
  <div class="row">
        <div id="slider1" class="owl-carousel">
          {% for pend in pending %}
          <div class="one">
            <a>{{pend.food_type}}</a>
          </div>
          {% endfor %}
        </div>
  </div>
  {% endif %}

  {% for food, requests in food_type.items %}
  <div class="feed_divider"> <p class="category">{{food|title}}</p></div>
  <div class="row">
    <div id="slider{{forloop.counter|add:1}}" class="owl-carousel">
      <div class="item">
        {% for r in requests %}
        <div id="{{r.food_type}}" onload="getImage({{food}},{{r.food_type}})">
          <a href="/confirm/{{r.key.urlsafe}}">
            {{r.sender_name}} requests {{r.food_type}} in {{r.location}}
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endfor %}
  {% endif %}

{% endblock %}