<!DOCTYPE html>
<html>
<head>
 <!--Import materialize.css-->
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
 <!--Import jQuery before materialize.js-->
 <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
 <script src="https://refreshless.com/nouislider/documentation/assets/wNumb.js"></script>
 <link href="http://materializecss.com/extras/noUiSlider/nouislider.css" rel="stylesheet">
 <script type="text/javascript" src="https://www.wepay.com/min/js/iframe.wepay.js"></script>
 <script type="text/javascript" src="../js/payments.js"></script>
 <script src="https://static.wepay.com/min/js/wepay.v2.js" type="text/javascript"></script>
 <script type="text/javascript" src="../js/paymentsaccount.js"></script>
 <!-- Slider JS -->
 <script src="http://materializecss.com/extras/noUiSlider/nouislider.js"></script>

 <!--Let browser know website is optimized for mobile-->
 <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>

  <div id="wepay_checkout"></div>

<script type="text/javascript">
    WePay.iframe_checkout("wepay_checkout", "https://stage.wepay.com/api/checkout/12345");
</script>

  <a id="start_oauth2">Create your Payment Account</a>

<div class="row">
<form class="col s6 offset-s3">
<input type="text" id="foodiepay" class="center" placeholder="Enter Foodie WePayID">
<input type="text" id="expertpay" class="center" placeholder="Enter Expert WePayID">
<input type="number" id="priceamount" class="center" placeholder="$">

<button id="createpayment" type="button" class="waves-effect waves-light btn right">Create Payment Link</button>
</form>
</div>


<div class="row">
<h3 class="center">Payment History Goes here!</h3>
</div>

</body>
</html>
