{% extends "base.html" %}
{% block content %}
  <div class= "row" >
      <div class= "col s12 m12 l3 profile-left" style= "padding: 0 0;">
        <div class = "row user-block">
          <div class= "profile-img" style= "background: url('/img?user_id={{owner.key.urlsafe}}'); background-size: cover;"></div>
          <div class="profile-name">{{owner.first_name}}&nbsp;{{owner.last_name}}</div>
          <div class="profile-aboutme"><p>{{profile.about_me}}<i class="material-icons">format_quote</i></p></div>
        </div>
        <div class = "row average-rating-block">
          <div class="feedback_ratings">
            <a title="Positive">
              <div class="score">
              <i class = "mdi-content-add-circle" style = "position: absolute;display: block; width: 22px; height: 22px; color: #1b5e20"></i>
                <span style = "position: absolute; top: 0;left: 20px; color: #333; 
                font-weight: bold;font-size: 14px;">{{owner.positive|floatformat:"0"}}</span>
                <span style = "position: absolute;top: 25px;left: 0;color: #777;">Positive</span>
              </div>
            </a>
            <a title="Neutral">
              <div class="score">
               <i class = "mdi-av-stop" style = "position: absolute;display: block; width: 22px; height: 22px; color: black"></i>
                <span style = "position: absolute; top: 0;left: 20px; color: #333; 
                font-weight: bold;font-size: 14px;">{{owner.neutral|floatformat:"0"}}</span>
                <span class="txt" style = "position: absolute;top: 25px;left: 0;color: #777;">Neutral</span>
              </div>
            </a>
            <a title="Negative">
              <div class="score">
              <i class = "mdi-content-remove-circle" style = "position: absolute;display: block; width: 22px; height: 22px; color: #b71c1c"></i>
                <span style = "position: absolute;  top: 0;left: 20px; color: #333; 
                font-weight: bold;font-size: 14px;">{{owner.negative|floatformat:"0"}}</span>
                <span class="txt" style = "position: absolute;top: 25px;left: 0;color: #777;">Negative</span>
              </div>
            </a>
          </div>
        </div>
        <div class = "row profile-tabs">
        </div>
      </div>
      <!-- timeline start-->
      <div id="timeline" class="col s9 card blue-grey" style="height: 85vh; overflow-y: scroll;">

      <div id="cd-timeline">

        {% for request in result %}
        {% if forloop.counter|divisibleby:2 %}
        <div class="cd-timeline-block"> <!-- cd-timeline-block start -->
          <div class="row">
            <div class="cd-timeline-img cd-picture">
              <img src="../images/cd-icon-picture.svg" alt="Picture">
            </div> <!-- cd-timeline-img -->

            <div class="col s7" style="visibility: hidden;">placeholder</div>

            <div class="cd-timeline-content col s5">
              <div class="card-image ">
                <img src="/img?user_id={{request.sender.urlsafe}}">
              </div>
              <div class="card-content">
                <span><b>Requester:</b> {{request.sender_name}}</span><br />
                <span><b>For:</b> {{request.start_time.date}} @ {{request.start_time.time}}</span><br />
                <span><b>Type:</b> {{request.food_type}}</span><br />
                <span><b>Interest:</b> {{request.status}}</span><br />
                <span><a class="orange lighten-1 white-text waves-effect waves-light btn" id="signInBtn" style="width: 100%;">Share Your Experience</a></span>
              </div>
            </div>
          </div>
        </div> <!-- cd-timeline-block end -->        
        {% else %}
        <div class="cd-timeline-block"> <!-- cd-timeline-block start -->
          <div class="row">
            <div class="cd-timeline-img cd-picture">
              <img src="../images/cd-icon-picture.svg" alt="Picture">
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content col s5">
              <div class="card-image ">
                <img src="/img?user_id={{request.sender.urlsafe}}" class="circle">
              </div>
              <div class="card-content">
                <span><b>Requester:</b> {{request.sender_name}}</span><br />
                <span><b>For:</b> {{request.start_time.date}} @ {{request.start_time.time}}</span><br />
                <span><b>Type:</b> {{request.food_type}}</span><br />
                <span><b>Interest:</b> {{request.status}}</span><br />
                <span><a class="grey white-text waves-effect waves-light btn" id="signInBtn" style="width: 100%;">Share Your Experience</a></span>
              </div>
            </div>
          </div>
        </div> <!-- cd-timeline-block end -->
        {% endif %}
        {% endfor %}
      </div> 
      <!-- cd-timeline -->
  </div>

{% endblock %}
