<!DOCTYPE html>
<html>
<head>
  <!--Import materialize.css-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
  <script type="text/javascript" src="../js/ratings.js"></script>

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
  {% for rate in rating %}
  <!-- Modal Trigger -->
  <button class="waves-effect waves-light btn modal-trigger" data-target="{{rate.key.id}}">Leave Review</button>

  <!-- Modal Structure -->
  <div id="{{rate.key.id}}" class="modal">
    <div class="modal-content">
      <h4 class="center">Give Cheers!</h4>
      <input id="pendingkey" style="display:none;" value="{{rate.key.id}}"></input>
      <input id="recipient" style="display:none;" value="{{rate.recipient}}"></input>
    <form>
  <div class="center">
    <h5>How was your experience?</h5>
    <div class="row">
    <div id="exp1" class="wineglass"></div>
    <div id="exp2" class="wineglass"></div>
    <div id="exp3" class="wineglass"></div>
    <div id="exp4" class="wineglass"></div>
    <div id="exp5" class="wineglass"></div>
  </div>
  <textarea id="experiencecomment" placeholder="comments!"></textarea>
  </div>

  <div class="center">
    <h5>How was the expert's enthusiasm?</h5>
    <div class="row">
    <div id="enth1" class="wineglass"></div>
    <div id="enth2" class="wineglass"></div>
    <div id="enth3" class="wineglass"></div>
    <div id="enth4" class="wineglass"></div>
    <div id="enth5" class="wineglass"></div>
  </div>
  <textarea id="enthusiasmcomment" placeholder="comments!"></textarea>
  </div>

  <div class="center">
    <h5>How was the expert's friendliness?</h5>
    <div class="row">
    <div id="fir1" class="wineglass"></div>
    <div id="fir2" class="wineglass"></div>
    <div id="fir3" class="wineglass"></div>
    <div id="fir4" class="wineglass"></div>
    <div id="fir5" class="wineglass"></div>
  </div>
  <textarea id="friendlinesscomment" placeholder="comments!"></textarea>
  </div>



<h5 class="center">Would you recommend this person?</h5>
<div class="row">
<div class="col s2 offset-s4">
  <input type="checkbox" id="yes" />
  <label for="test5">Yes</label>
</div>
<div class="col s2">
  <input type="checkbox" id="no" />
  <label for="test5">No</label>
</div>
</div>
    </form>

    </div>
    <div class="modal-footer">
      <a id="submitreview" class=" modal-action modal-close waves-effect waves-green btn-flat">Cheers!</a>
    </div>
  </div>
  {% endfor %}



</body>
</html>
