{% extends "base.html" %}
{% block content %}
<!-- Get all requests -->
<script type="text/javascript" src="../js/request_actions.js"></script>
<script type="text/javascript" src="../js/create_request.js"></script>
<div id="user" name="user" value={{user.username}}></div>

<div class="row">
  <div class="col s12">
    <ul class="tabs">
      <li class="tab col s3" id="all_nav"><a class="active" href="#all">All</a></li>
      <li class="tab col s3"><a href="#pending" onclick="changeElements()">Pending</a></li>
      <li class="tab col s3"><a href="#accepted" onclick="changeElements()">Accepted</a></li>
      <li class="tab col s3" id="mine_nav"><a href="#mine" onclick="changeElements()">My Requests</a></li>
      <!-- <li class="tab col s3"><a href="#dead">Dead Requests</a></li> -->
    </ul>
  </div>

  <!-- All Requests -->
  <div id="all" class="col s12">
    <div class="row">
      <ul class="collection with-header col s12 m12">
        <br />
        {% for request in empty_requests %}
          {% if request.sender != user.key %}
          <li class="collection-item avatar">
            <img src ="/img?user_id={{request.sender.urlsafe}}" class="circle">
            <span class="title">
              <b>Requestor:</b><a href="/foodie/{{request.sender_name}}?q=timeline/all"> {{request.sender_name}}</a></span>
            <p>
              <b>Type:</b> {{request.food_type}}</p>
              <b>Location:</b> {{request.location}} <br />
              <b>For:</b> {{request.start_time.date}} <b> @ </b> {{request.start_time.time}}</p>
              <b>Price Range:</b> ${{request.min_price}} to ${{request.max_price}}</p>
              <b>Interest:</b> {{request.interest}}</p>
              <b>Bidders:</b> {{request.bidders|length}}
            <div class="secondary-content">
              <!-- Uncomment and use JS to hide -->
              <button id="hide{{forloop.counter}}" style="border:none; background:none;" value={{request.key.urlsafe}}><i class="material-icons" style="color:red;">thumb_down</i></button>
              <a href="/confirm/{{request.key.urlsafe}}" style="border:none; background:none;"><i class="material-icons">thumb_up</i></a>
            </div>
          </li>

          {% endif %}
          {% empty %}
          <li class="collection-header">
           <center>
            <h5>No Requests Yet</h5>
           </center>
          </li>
          {% endfor %}
      </ul>
    </div>
  </div>


  <!-- Location Requests -->
  <div id="location_requests" class="col s12" style="display:none;">
    <div class="row">
      <ul class="collection with-header col s12 m12">
        <br />
        {% for request in location_requests %}
          {% if request.sender != user.key %}
          <li class="collection-item avatar">
            <img src ="/img?user_id={{request.sender.urlsafe}}" class="circle">
            <span class="title">
              <b>Requestor:</b><a href="/foodie/{{request.sender_name}}?q=timeline/all"> {{request.sender_name}}</a></span>
            <p>
              <b>Type:</b> {{request.food_type}}</p>
              <b>Location:</b> {{request.location}} <br />
              <b>For:</b> {{request.start_time.date}} <b> @ </b> {{request.start_time.time}}</p>
              <b>Price Range:</b> ${{request.min_price}} to ${{request.max_price}}</p>
              <b>Interest:</b> {{request.interest}}</p><br />


            <div class="secondary-content">
              <!-- Uncomment and use JS to hide -->
              <button id="hide{{forloop.counter}}" style="border:none; background:none;" value={{request.key.urlsafe}}><i class="material-icons" style="color:red;">thumb_down</i></button>
              <a href="/confirm/{{request.key.urlsafe}}" style="border:none; background:none;"><i class="material-icons">thumb_up</i></a>
            </div>
          </li>

          {% endif %}
          {% empty %}
          <li class="collection-header">
           <center>
            <h5>No Requests Yet</h5>
           </center>
          </li>
          {% endfor %}
      </ul>
    </div>
  </div>

  <!-- Price Requests -->
  <div id="price_requests" class="col s12" style="display:none;">
    <div class="row">
      <ul class="collection with-header col s12 m12">
        <br />
        {% for request in price_requests %}
          {% if request.sender != user.key %}
          <li class="collection-item avatar">
            <img src ="/img?user_id={{request.sender.urlsafe}}" class="circle">
            <span class="title">
              <b>Requestor:</b><a href="/foodie/{{request.sender_name}}?q=timeline/all"> {{request.sender_name}}</a></span>
            <p>
              <b>Type:</b> {{request.food_type}}</p>
              <b>Location:</b> {{request.location}} <br />
              <b>For:</b> {{request.start_time.date}} <b> @ </b> {{request.start_time.time}}</p>
              <b>Price Range:</b> ${{request.min_price}} to ${{request.max_price}}</p>
              <b>Interest:</b> {{request.interest}}</p><br />


            <div class="secondary-content">
              <!-- Uncomment and use JS to hide -->
              <button id="hide{{forloop.counter}}" style="border:none; background:none;" value={{request.key.urlsafe}}><i class="material-icons" style="color:red;">thumb_down</i></button>
              <a href="/confirm/{{request.key.urlsafe}}" style="border:none; background:none;"><i class="material-icons">thumb_up</i></a>
            </div>
          </li>
          {% endif %}
          {% empty %}
          <li class="collection-header">
           <center>
            <h5>No Requests Yet</h5>
           </center>
          </li>
          {% endfor %}
      </ul>
    </div>
  </div>

  <!-- Hangout Requests -->
  <div id="hangouts_requests" class="col s12" style="display:none;">
    <div class="row">
      <ul class="collection with-header col s12 m12">
        <br />
        {% for request in hangouts_requests %}
          {% if request.sender != user.key %}
          <li class="collection-item avatar">
            <img src ="/img?user_id={{request.sender.urlsafe}}" class="circle">
            <span class="title">
              <b>Requestor:</b><a href="/foodie/{{request.sender_name}}?q=timeline/all"> {{request.sender_name}}</a></span>
            <p>
              <b>Type:</b> {{request.food_type}}</p>
              <b>Location:</b> {{request.location}} <br />
              <b>For:</b> {{request.start_time.date}} <b> @ </b> {{request.start_time.time}}</p>
              <b>Price Range:</b> ${{request.min_price}} to ${{request.max_price}}</p>
              <b>Interest:</b> {{request.interest}}</p><br />


            <div class="secondary-content">
              <!-- Uncomment and use JS to hide -->
              <button id="hide{{forloop.counter}}" style="border:none; background:none;" value={{request.key.urlsafe}}><i class="material-icons" style="color:red;">thumb_down</i></button>
              <a href="/confirm/{{request.key.urlsafe}}" style="border:none; background:none;"><i class="material-icons">thumb_up</i></a>
            </div>
          </li>
          {% endif %}
          {% empty %}
          <li class="collection-header">
           <center>
            <h5>No Requests Yet</h5>
           </center>
          </li>
          {% endfor %}
      </ul>
    </div>
  </div>

  <!-- Lesson Requests -->
  <div id="lessons_requests" class="col s12" style="display:none;">
    <div class="row">
      <ul class="collection with-header col s12 m12">
        <br />
        {% for request in foodlesson_requests %}
          {% if request.sender != user.key %}
          <li class="collection-item avatar">
            <img src ="/img?user_id={{request.sender.urlsafe}}" class="circle">
            <span class="title">
              <b>Requestor:</b><a href="/foodie/{{request.sender_name}}?q=timeline/all"> {{request.sender_name}}</a></span>
            <p>
              <b>Type:</b> {{request.food_type}}</p>
              <b>Location:</b> {{request.location}} <br />
              <b>For:</b> {{request.start_time.date}} <b> @ </b> {{request.start_time.time}}</p>
              <b>Price Range:</b> ${{request.min_price}} to ${{request.max_price}}</p>
              <b>Interest:</b> {{request.interest}}</p><br />


            <div class="secondary-content">
              <!-- Uncomment and use JS to hide -->
              <button id="hide{{forloop.counter}}" style="border:none; background:none;" value={{request.key.urlsafe}}><i class="material-icons" style="color:red;">thumb_down</i></button>
              <a href="/confirm/{{request.key.urlsafe}}" style="border:none; background:none;"><i class="material-icons">thumb_up</i></a>
            </div>
          </li>
          {% endif %}
          {% empty %}
          <li class="collection-header">
           <center>
            <h5>No Requests Yet</h5>
           </center>
          </li>
          {% endfor %}
      </ul>
    </div>
  </div>

  <div class="fixed-action-btn" style="bottom: 45px; right: 100px;">
    <a class="btn-floating btn-large red">
      <i class="large material-icons">search</i>
    </a>
    <ul>
      <li id="hangouts_sort"><a class="btn-floating teal btn tooltipped" data-position="left" data-delay="50" data-tooltip="Hangouts" href="/requests?q=hangouts">H</a></li>
      <li id="lessons_sort"><a class="btn-floating teal btn tooltipped" data-position="left" data-delay="50" data-tooltip="Food Type" href="/requests?q=lessons">F</a></li>
      <li><a class="btn-floating red btn tooltipped" data-position="left" data-delay="50" data-tooltip="All" href='/requests?q=all' ><i class="material-icons">autorenew</i></a></li>
      <li><a class="btn-floating yellow darken-1 btn tooltipped" data-position="left" data-delay="50" data-tooltip="Price" href='/requests?q=price'><i class="material-icons">attach_money</i></a></li>
      <li><a class="btn-floating green btn tooltipped" data-position="left" data-delay="50" data-tooltip="Time" href='/requests?q=time'><i class="material-icons">access_time</i></a></li>
      <li><a class="btn-floating blue btn tooltipped" data-position="left" data-delay="50" data-tooltip="Location" href='/requests?q=location' ><i class="material-icons">place</i></a></li>
    </ul>
  </div>
</div>
</div>
{% endblock %}