{% extends 'base.html' %}
{% block content %}
<div class="page-header"><h2>Search Results</h2></div>
 <ul class="collection">
  {% for result in search_results %}
    <li class="collection-item avatar">
      <a href="/foodie/{{result.0.username}}">
      <img src="/img?user_id={{result.0.key.urlsafe}}" alt="" class="circle">
      <span class="title">{{result.0.username}}</span>
      </a>
      <p> <b>{{result.0.first_name}} {{result.0.last_name}}</b><br>
        {{result.1.about_me}}
      </p>
    </li>
  
  {% empty %}
  No results found
  {% endfor %}
  </ul>
</div>
{% endblock %}